@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,700;1,400&display=swap');
:root{
    --red:#C82121;
    --gray:#94969b;
    --light-blue:#BECBFF;
    --blue:#0D0CB5;
    --cursive-font:'Lobster Two', "cursive";
}